<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta description="" />
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}?200217">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?060517">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="offset-by-three columns"></div>
                <div class="three columns">

                    <div ic-poll="1s" ic-src="/remaining" ic-target="#content" ic-pause-polling="true">
                        <div ic-target="this">
                            <div class="button active" ic-post-to="/start">
                                <i class="">▶</i></div>
                            <div class="button" ic-post-to="/stop">
                                <i class="">||</i>
                            </div>
                        </div>
                        <div id="content">
                        </div>
                    </div>

                </div>
                <div class="offset-by-three columns"></div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <script>window.Zepto || document.write('<script src="{{ url_for('static', filename='zepto.min.js') }}">\x3C/script>')</script>
        <script src="http://cdn.intercoolerjs.org/intercooler-1.2.1.min.js"></script>
    </body>
</html>
